<ion-header>
  
</ion-header>

<ion-content>
  <div class="card" style="width: 25rem;">
    <ion-icon class="position-absolute" style="color:rgb(0, 0, 0);" name="settings-outline"></ion-icon>
    <img src="../../assets/Profil.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title, text-center">Profile</h5>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item" style="background-color:rgb(0, 8, 255);color:rgb(255, 255, 255);font-size: larger;">Name : Atthariq Haykal Putera</li>
      <li class="list-group-item" style="background-color:rgb(0, 195, 255);color:rgb(255, 255, 255);font-size: larger;">Place : Bogor</li>
      <li class="list-group-item" style="background-color:rgb(0, 8, 255);color:rgb(255, 255, 255);font-size: larger;">Born : 01 Maret 2004</li>
      <li class="list-group-item" style="background-color:rgb(0, 255, 38);color:rgb(255, 255, 255);font-size: larger;">Major : S1</li>
      <li class="list-group-item" style="background-color:rgb(255, 0, 0);color:rgb(255, 255, 255);font-size: larger;">Expire : 31 December 2029</li>
    </ul>
  </div>
  <br>
  <div class="text-center" style="color:aliceblue;font-size:medium;background-color: red;">Your purchase</div>
  <div class="row">
    <div class="col-sm-2">
      <div class="card" style="background-color:rgb(0, 8, 255);color:rgb(255, 255, 255);">
        <div class="card-body">
          <img src="../../assets/Mapel/History.jpg" class="card-img-top rounded-circle" alt="...">
          <h5 class="card-title, text-center">Rp.3.500.000</h5>
          <p class="card-text" style="font-size:20px;font-style:italic;text-align:center;text-align:justify;">Paket selama 5 tahun dengan tambahan live class dan tryout selama 30 kali berturut turut, dengan ketentuan materi yang didapatkan</p>
          <li>SD</li>
          <li>SMP</li>
          <li>SMA IPA / IPS</li>
          <center>
            <a href="#" class="btn btn-info" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">BUY AGAIN?</a>
        </center>
        </div>
      </div>
    </div>
    </div>
    <div class="card-body, text-center" style="background-color:rgb(0, 0, 0);color:rgb(255, 255, 255);font-size: larger;">
      <a href="#" class="card-link">Help?</a>
    </div>
</ion-content>
