<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="container-fluid py-2" style="background-color:aqua;">
      <div class="container">
        <div class="row">
          <div class="col-6 text-center">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </div>
            <div class="col-2 offset-2 float-end">
              <button class="btn btn-outline-info bg-info text-light" type="submit">Search</button>
            </div>
        </div>  
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-fluid py-2" style="background-color:aqua;">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
          <h1>Live Class Now!</h1>
        </div>
      </div>  
    </div>
  </div>

  <div class="container-fluid py-3 my4" style="background-color:rgb(107, 0, 41);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-3">
        <img src="../../assets/Mapel/English.jpg" alt="" class="img-fluid rounded-circle">
        </div>
        <div class="col-4 offset-1 text-center" style="text-align:justify;">
        <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:rgb(255, 255, 255);font-size: larger;">English</label>
        <p style="color:rgb(251, 255, 0);text-align: center;">Preparation for TOEIC test with Miss Nadia</p>
        </div>
        <div class="col-3 offset-1">
          <button class="btn btn-success">Watch now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3 my4" style="background-color:rgb(255, 0, 0);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-3">
        <img src="../../assets/Mapel/MTK.png" alt="" class="img-fluid rounded-circle">
        </div>
        <div class="col-4 offset-1 text-center" style="text-align:justify;">
        <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:rgb(255, 255, 255);font-size: larger;">Math</label>
        <p style="color:rgb(251, 255, 0);text-align: center;">Preparation for College test with Mrs.Julia</p>
        </div>
        <div class="col-3 offset-1">
          <button class="btn btn-success">Watch now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3 my4" style="background-color:rgb(95, 87, 0);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-3">
        <img src="../../assets/Mapel/History.jpg" alt="" class="img-fluid rounded-circle">
        </div>
        <div class="col-4 offset-1 text-center" style="text-align:justify;">
        <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:rgb(255, 255, 255);font-size: larger;">History</label>
        <p style="color:rgb(251, 255, 0);text-align: center;">Story About Majapahit with Mr.Soekarno</p>
        </div>
        <div class="col-3 offset-1">
          <button class="btn btn-success">Watch now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3 my4" style="background-color:rgb(255, 0, 208);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-3">
        <img src="../../assets/Mapel/Che.png" alt="" class="img-fluid rounded-circle">
        </div>
        <div class="col-4 offset-1 text-center" style="text-align:justify;">
        <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:rgb(255, 255, 255);font-size: larger;">Chemical</label>
        <p style="color:rgb(251, 255, 0);text-align: center;">Chemical reaction with Mr.Justin</p>
        </div>
        <div class="col-3 offset-1">
          <button class="btn btn-success">Watch now</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
