<ion-content [fullscreen]="true">
  <div class="container-fluid py-3" style="background-color:rgb(2, 198, 198);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" style="font-family:Arial, Helvetica, sans-serif;">STUDY ROOM HOME</h1>
          <input class="form-control form-control-lg text-center text-light bg-info" type="search" placeholder="Search....">
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-justify">
          <p style="font-size:medium;">Welcome to our application, we very grateful and we hope you can make your score better then past. If you have question don't worry just talk to us and we will answer your question, click button below for start talking with us :) </p>
        </div>
        <div class="col-7">
          <button class="btn btn-success align-items-center">Start talking with us</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3" style="background-color:rgb(255, 255, 255);color:rgb(0, 0, 0);">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Mata Pelajaran</h1>
          <input class="form-control form-control-lg text-center text-light, bg-info" type="text" placeholder="Search lesson....">
        </div>
      </div>

      <div class="row align-items-center">
        <div class="row my-4">
          <div class="col-3">
            <img src="../../assets/Mapel/Biologi.png" alt="" class="img-fluid">
            <label class="text-center">Biology</label>
          </div>
          <div class="col-3">
            <img src="../../assets/Mapel/Che.png" alt="" class="img-fluid">
            <label class="text-center">Chemical</label>
          </div>
          <div class="col-3">
            <img src="../../assets/Mapel/Fisika.jpg" alt="" class="img-fluid">
            <label class="text-center">physics</label>
          </div>
          <div class="col-3">
            <img src="../../assets/Mapel/History.jpg" alt="" class="img-fluid">
            <label class="text-center">History</label>
          </div>
        </div>


        <div class="col-4">
          <img src="../../assets/Mapel/Bahasa.jpg" alt="" class="img-fluid">
          <label class="text-center">Indonesia Language</label>
        </div>
        <div class="col-4">
          <img src="../../assets/Mapel/English.jpg" alt="" class="img-fluid">
          <label class="text-center">English Language</label>
        </div>
        <div class="col-4">
          <img src="../../assets/Mapel/Sosiologi.jpg" alt="" class="img-fluid">
          <label class="text-center">Sociology</label>
        </div>
      </div>

      <div class="col-12">
        <img src="../../assets/Mapel/MTK.png" alt="" class="img-fluid">
        <label style="text-align:center;">Math</label>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3" style="background-color:aqua;">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>PROMO</h1>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-4">
          <img src="../../assets/Mapel/Che.png" alt="" class="img-fluid rounded-circle">
        </div>

        <div class="col-4 offset-1 text-center">
          Discount 85%
        </div>

        <div class="col-2 offset-1">
          <button class="btn btn-primary">Buy</button>
        </div>
      </div>

      <div class="row align-items-center my-4">
        <div class="col-4">
          <img src="../../assets/Mapel/MTK.png" alt="" class="img-fluid rounded-circle">
        </div>

        <div class="col-4 offset-1 text-center">
          Discount 70%
        </div>

        <div class="col-2 offset-1">
          <button class="btn btn-primary">Buy</button>
        </div>
      </div>

      <div class="row align-items-center my-4">
        <div class="col-4">
          <img src="../../assets/Mapel/Bahasa.jpg" alt="" class="img-fluid rounded-circle">
        </div>

        <div class="col-4 offset-1 text-center">
          Discount 85%
        </div>

        <div class="col-2 offset-1">
          <button class="btn btn-primary">Buy</button>
        </div>
      </div>

    </div>
  </div>
</ion-content>
