.card{
    background-color: rgb(0, 147, 140);
    color:white;
}
.card-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(246, 255, 0);
}
.card-text{
    font-size:20px;
    font-family:italic;
    text-align: justify;
}