<ion-header [translucent]="true">
  <ion-toolbar>
    <input class="form-control form-control-lg, text-light, bg-info" type="text" placeholder="Search.....">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Mapel/History.jpg" class="card-img-top rounded-circle" alt="...">
          <h5 class="card-title, text-center">Rp.3.500.000</h5>
          <p class="card-text">Paket selama 5 tahun dengan tambahan live class dan tryout selama 30 kali berturut turut, dengan ketentuan materi yang didapatkan</p>
          <li>SD</li>
          <li>SMP</li>
          <li>SMA IPA / IPS</li>
          <center>
            <a href="#" class="btn btn-info" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">BUY</a>
        </center>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Mapel/Fisika.jpg" class="card-img-top rounded-circle" alt="...">
          <h5 class="card-title, text-center">Rp.2.500.000</h5>
          <p class="card-text">Paket selama 4 tahun dengan tambahan live class dan tryout selama 25 kali berturut turut, dengan ketentuan materi yang didapatkan</p>
          <li>SD</li>
          <li>SMP</li>
          <li>SMA IPA / IPS</li>
          <center>
            <a href="#" class="btn btn-info" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">BUY</a>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Mapel/English.jpg" class="card-img-top rounded-circle" alt="...">
          <h5 class="card-title, text-center">Rp.1.500.000</h5>
          <p class="card-text">Paket selama 3 tahun dengan tambahan live class dan tryout selama 20 kali berturut turut, dengan ketentuan materi yang didapatkan</p>
          <li>SD</li>
          <li>SMP</li>
          <li>SMA IPA / IPS</li>
          <center>
            <a href="#" class="btn btn-info" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">BUY</a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/Mapel/Sosiologi.jpg" class="card-img-top rounded-circle" alt="...">
          <h5 class="card-title, text-center">Rp.500.000</h5>
          <p class="card-text">Paket selama 6 bulan dengan tambahan live class, dengan ketentuan materi yang didapatkan</p>
          <li>SD</li>
          <li>SMP</li>
          <center>
            <a href="#" class="btn btn-info" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">BUY</a>
          </center>
        </div>
      </div>
    </div>
  </div>
</ion-content>
