<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title class="ion-text-light custom-title">Update Uang Keluar</ion-title>
    <ion-buttons slot="end">
      <ion-button style="color:aliceblue" (click)="back()">
        <ion-icon style="color:white" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" color="light" class="custom-menu-button">
      <ion-menu-button style="color:aliceblue"></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('../../assets/bg1.jpg') center center / cover no-repeat;" [fullscreen]="true">
  <div class="container d-block justify-content-center">
    <ion-item>
      <ion-label position="stacked">Upload Bukti</ion-label>
      <input type="file" (change)="getFile($event)" />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Kode Pengeluaran</ion-label>
      <ion-input [(ngModel)]="kd_pengeluaran" type="text" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Keterangan</ion-label>
      <ion-input [(ngModel)]="keterangan" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tanggal Keluar</ion-label>
      <ion-input [(ngModel)]="tanggal_keluar" type="date"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="stacked">Bukti Pengeluaran</ion-label>
      <ion-input [(ngModel)]="pengeluaran_foto" type="file"></ion-input>
    </ion-item> -->

    <div class="form-group mt-3">
      <button class="form-control btn" (click)="Update()" style="background: linear-gradient(to bottom, #00e51f, #005d2a); color:white;">
        Update Data
      </button>
    </div>
  </div>
</ion-content>
